/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */
@import url(../../node_modules/bulma-extensions/bulma-switch/dist/css/bulma-switch.min.css);
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@font-face {
  font-family: 'Earth Orbiter';
  src: local("Earth Orbiter"), url("../fonts/earthorbiter.ttf"); }

@font-face {
  font-family: 'Earth Orbiter Bold';
  src: local("Earth Orbiter Bold"), url("../fonts/earthorbiterbold.ttf"); }

@font-face {
	font-family: 'Source Sans Pro';
	src: local("Source Sans Pro"), url("../fonts/sourcesanspro.ttf"); }

@font-face {
	font-family: 'Source Sans Pro Light';
	src: local("Source Sans Pro Light"), url("../fonts/sourcesansprolight.ttf"); }

html {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #a4508b !important;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%) !important;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%) !important;
	font-family: 'Source Sans Pro' !important;
}

.control-header {
  font-family: 'Source Sans Pro';
  color: white;
  text-shadow: 2px 2px 3px #414141;
  font-size: 5rem; }

.control-subtitle {
  font-family: 'Source Sans Pro Light';
  color: white;
  text-shadow: 2px 2px 3px #414141; }

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30; }

  .ui-component {
	  background-color: #1d072e;
  }
