body {
    background-color: #ffffff;
    color: #222222;
}

#tw-status {
    font-weight: normal;
}

#sl-status {

    font-weight: normal;
}

#team-status {
    font-weight: normal;
}

.text-title {
    font-weight: bold;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }